<div class="col-md-10 col-md-offset-1">
	<div class="grid" style="width: 100%; margin: 0 auto;">
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item grid-item--width2 grid-item--height2"></div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item grid-item--width2"></div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item grid-item--width2"></div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item grid-item--width2 grid-item--height2"></div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item grid-item--width2"></div>
		<div class="grid-item"></div>
		<div class="grid-item"></div>
		<div class="grid-item grid-item--width2"></div>
		<div class="grid-item"></div>
	</div>
</div>