<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="grid-pinned" style="margin: 0 auto;">
			<div ng-repeat="(rowID, tile) in vm.pinnedTiles" class="grid-item grid-item-{{tile.tileSize}} pinned {{rowID}}" ng-class="[tile.tileClass, {'grid-item-selectable': tile.isSelectable}]">
				<div ng-if="tile.tileSize == '2x2y'" class="inner-grid">
					<div class="grid-item-2x2y-icon">
						<div class="grid-icon">
							<i ng-if="tile.tileIcon != false" class="fa {{tile.tileIcon}} {{tile.tileIconSize}}"></i>
							<img ng-if="tile.tileImage" ng-src="{{tile.tileImage}}" height="70px" />
							<div class="grid-title">{{tile.tileName}}</div>
						</div>
					</div>
					<div class="grid-item-2x2y-details">
						<h4 ng-repeat="heading in tile.tileHeadings">{{heading}}</h4>
					</div>
					<div class="col-md-12">
						<p ng-repeat="(detailTitle, detailValue) in tile.tileDetails" class="grid-detail">
							{{detailTitle}}
							<span>{{detailValue}}</span>
						</p>
					</div>
				</div>
				<div ng-if="tile.tileSize == '2x'" class="inner-grid">
					<div class="grid-item-2x-icon">
						<div class="grid-icon">
							<i class="fa {{tile.tileIcon}} {{tile.tileIconSize}}"></i>
							<div class="grid-title">{{tile.tileName}}</div>
						</div>
					</div>
					<div class="grid-item-2x-details">
						<p ng-repeat="heading in tile.tileHeadings">{{heading}}</p>
					</div>
					<div class="grid-pin pin">
						<i class="fa fa-thumb-tack fa-fw fa-lg"></i>
					</div>
				</div>
				<div ng-if="tile.tileSize == '1x1y'" class="grid-icon">
					<i ng-if="tile.tileIcon != false" class="fa {{tile.tileIcon}} {{tile.tileIconSize}}"></i>
					<img ng-if="tile.tileImage" ng-src="{{tile.tileImage}}" height="70px" />
					<div class="grid-title">{{tile.tileName}}</div>
				</div>
				<div class="grid-pin unpin fa-stack fa-lg" ng-click="vm.unpinTile(rowID, $event)">
					<i class="fa fa-thumb-tack fa-stack-1x"></i>
					<i class="fa fa-ban fa-stack-2x text-danger"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="grid" style="margin: 0 auto;">
			<div ng-repeat="(rowID, tile) in vm.homeTiles" class="grid-item grid-item-{{tile.tileSize}}" ng-hide="tile.isPinned" ng-class="[tile.tileClass, {'grid-item-selectable': tile.isSelectable}]">
				<div ng-if="tile.tileSize == '2x2y'" class="inner-grid">
					<div class="grid-item-2x2y-icon">
						<div class="grid-icon">
							<i ng-if="tile.tileIcon != false" class="fa {{tile.tileIcon}} {{tile.tileIconSize}}"></i>
							<img ng-if="tile.tileImage" ng-src="{{tile.tileImage}}" height="70px" />
							<div class="grid-title">{{tile.tileName}}</div>
						</div>
					</div>
					<div class="grid-item-2x2y-details">
						<h4 ng-repeat="heading in tile.tileHeadings">{{heading}}</h4>
					</div>
					<div class="col-md-12">
						<p ng-repeat="(detailTitle, detailValue) in tile.tileDetails" class="grid-detail">
							{{detailTitle}}
							<span>{{detailValue}}</span>
						</p>
					</div>
				</div>
				<div ng-if="tile.tileSize == '2x'" class="inner-grid">
					<div class="grid-item-2x-icon">
						<div class="grid-icon">
							<i class="fa {{tile.tileIcon}} {{tile.tileIconSize}}"></i>
							<div class="grid-title">{{tile.tileName}}</div>
						</div>
					</div>
					<div class="grid-item-2x-details">
						<p ng-repeat="heading in tile.tileHeadings">{{heading}}</p>
					</div>
					<div class="grid-pin pin">
						<i class="fa fa-thumb-tack fa-fw fa-lg"></i>
					</div>
				</div>
				<div ng-if="tile.tileSize == '1x1y'" class="grid-icon">
					<i ng-if="tile.tileIcon != false" class="fa {{tile.tileIcon}} {{tile.tileIconSize}}"></i>
					<img ng-if="tile.tileImage" ng-src="{{tile.tileImage}}" height="70px" />
					<div class="grid-title">{{tile.tileName}}</div>
				</div>
				<div class="grid-pin pin" ng-click="vm.pinTile(rowID, $event)">
					<i class="fa fa-thumb-tack fa-fw fa-lg"></i>
				</div>
			</div>
		</div>
	</div>
</div>