@import './bootstrap.css';
@import './dashboard.css';
@import './skin-blue.css';
@import './toastr.css';
@import './loading-bar.css';
@import './sweetalert.css';
//@import '../../node_modules/gridstack/dist/gridstack.min.js';

body{
  background: rgb(226, 232, 233);
}

.grid-item {
	background-color: white;
	height: 125px;
	width: 125px;
	margin-bottom: 10px;
	border-style: solid;
    border-width: 1px;
	border-radius: 15px;
}

.grid-detail {
	display: block;
	margin: 10px;
}

.grid-detail > span {
	display: block;
	float: right;
	margin-left: 10px;
}

.grid-icon{
	height: 100px;
	width: 100%;
	text-align: center;
}

.grid-icon > i {
	margin: 10px auto;
}

.grid-title {
	text-align: center;
	height: 25px;
	width: 80%;
	margin-left: 10%;
}
//	Width and Height for grid items are worked out by (125 x n) + 10(n - 1), n being the size increment
.grid-item-2x {
	width: 260px;
}

.grid-item-2x > .grid-item-2x-icon {
	width: 120px;
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	float: left;
}

.grid-item-2x > .grid-item-2x-details {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.grid-item-2x-details > h4 {
	margin: 0;
}

.grid-item-2x-details > p {
	margin: 0;
}

.grid-item-2y {
	height: 260px;
}

#loading-bar .bar {
  background: #2c3e50;
}
#loading-bar .peg {
  box-shadow: 0 0 10px #2c3e50, 0 0 5px #2c3e50;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #2c3e50;
  border-left-color: #2c3e50;
}

#content-wrapper {
  width: 100%;
  height: auto;
  margin-left: 230px;
  padding: 10px;
  padding-top: 2%;
}

#logo {
  width: 75px;
}

.login-inputs {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.pointer{
  cursor: pointer;
}